@page
@using CosmosOdyssey.Models
@model IndexModel
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"]</title>
    <!-- Add your CSS and scripts here -->
</head>
<body>
<div class="text-center">
    <h1 class="display-4">Welcome to CosmosOdyssey!</h1>
    
    <h2 size="14px">Most trusted space flight booking site since 2023!</h2>
    
    <div>
        <form method="post">
            <label for="from">From:</label>
            <select id="from" name="fromSelection" asp-for="fromSelection">
                <option value="" hidden>Select something</option>
                @foreach (var t in Model.Planets){
                    <option value="@t">@t</option>
                }
            </select>
            <label for="to">To:</label>
            <select id="to" name="toSelection" asp-for="toSelection">
                <option value="" hidden>Select something</option>
                @foreach (var t in Model.Planets){
                    <option value="@t">@t</option>
                }
            </select>
            <button type="submit">Go!</button>
        </form>
    </div>
    <div>
        @if (Model.chosenRoute != null){
            <h3>Avalaible routes from @Model.chosenRoute.From to @Model.chosenRoute.To</h3>
            @if (Model.longRouteOptions == null){
                <p>Distance: @Model.chosenRoute.Distance lightyears</p>
                <table align="center">
                    <tr>
                        <td>Provider name</td>
                        <td>Price</td>
                        <td>Departure</td>
                        <td>Arrival</td>
                        <td></td>
                    </tr>
                    @foreach (Provider provider in Model.chosenRoute.Providers){
                        <tr>
                            <td>@provider.company.name</td>
                            <td>@provider.price</td>
                            <td>@provider.flightStart</td>
                            <td>@provider.flightEnd</td>
                            <td><button>Book flight</button></td>
                        </tr>
                    }
                </table>
            }
            else{
                <p>No direct flights available. Found @Model.longRouteOptions.Count available routes</p>
                @foreach (var option in Model.longRouteOptions){
                    <ol>
                        @foreach (TravelRouteModel route in option){
                            <li>@route.From - @route.To | @route.Distance</li>
                        }
                    </ol>
                }
            }
        }
    </div>
</div>
</body>
</html>